[submodule "priv/rhyacotriton"]
	path = priv/rhyacotriton
	url = git://github.com/cytozoon/rhyacotriton-build.git
[submodule "priv/jquery"]
	path = priv/jquery
	url = git://github.com/cytozoon/jquery-latest.git
