%%-*- mode: erlang -*-
{deps, [
    {lager, ".*",
        {git, "git://github.com/basho/lager.git", {branch, "master"}}},
	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "0.6.1"}},
	{bullet, ".*", {git, "git://github.com/extend/bullet.git", "master"}},
	{jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}}
]}.

{post_hooks, [{'get-deps', "git submodule update --init --recursive"},
              {'get-deps', "git submodule foreach git pull origin master"}
             ]}.

{erl_opts, [{parse_transform, lager_transform}]}.
