%%-*- mode: erlang -*-
{deps, [
    {lager, ".*",
        {git, "git://github.com/basho/lager.git", {branch, "master"}}},
	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
	{cowboy_static, 
        ".*", {git, "git://github.com/klaar/cowboy_static.git", 
            {tag, "0a6c7373b3b1851662bb6d4394e547fcf16fc6c8"}}},
	{bullet, ".*", {git, "git://github.com/extend/bullet.git", "master"}},
	{jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}}
]}.

{post_hooks, [{'get-deps', "git submodule update --init --recursive"},
              {'get-deps', "git submodule foreach git pull origin master"}
             ]}.

{erl_opts, [{parse_transform, lager_transform}]}.
