%%-*- mode: erlang -*-
{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "1.2.1"}}},
	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag, "0.6.1"}}},
	{bullet, ".*", {git, "git://github.com/extend/bullet.git", {tag, "0.2.3"}}},
	{jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.3.1"}}}
]}.

{post_hooks, [{'get-deps', "git submodule update --init --recursive"},
              {'get-deps', "git submodule foreach git pull origin master"}
             ]}.

{erl_opts, [{parse_transform, lager_transform}]}.
